<section>
  <div class="container" style="padding-top: 25px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/landing">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/home/machines">Projects</a></li>
        <li class="breadcrumb-item active">{{project.name}}</li>
      </ol>
    </nav>

    <div class="rows">
      <!--Slump card-->
      <div class="card border-vfos mb-5 " style="width: 20rem;">
        <img class="card-img-top" src="assets/img/peeltest.png" alt="Slump test image">
        <div class="card-body">
          <h5 class="card-title">Peel test</h5>
          <p class="card-text">Destructive test in which welds are tested by applying a peel force that results in stresses primarily normal to the surface of the joint interface.</p>
          <!--a href="#" class="btn btn-primary">New</a-->
          <!-- <button *ngIf="user.role==1||user.role==2" data-toggle="modal" data-target="#slumpTestModal"
            class="btn btn-primary center-block">New</button> -->
          <a *ngIf="user.role==1||user.role==2" href="#" data-toggle="modal" data-target="#slumpTestModal"
            class="card-link">New sample</a>
          <a *ngIf="user.role==2" class="card-link" routerLink="peelhistory" href="#">History</a>

        </div>
      </div>
    </div>
    <!--End Slump card-->


  </div>
</section>
<!--MODAL-->
<div class="modal fade center" id="slumpTestModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- loading spinner start -->
      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading">Loading prediction</p>
      </ngx-spinner>
      <!-- loading spinner ends -->

      <div class="modal-header">
        <h2>New Peel test</h2>
      </div>


      <div class="modal-body">

        <div *ngIf="nextaction.show">
          <div class="alert alert-danger">
            From this peel test value we predict that the next sample for the same ribbon number will be
            <strong>{{nextaction.value}} mm</strong> presenting a deviation of <strong>{{nextaction.deviation | percent}}</strong>
          </div>
          <div class="alert alert-info">
            The predicted value is {{nextaction.message }}
          </div>
          <hr/>
          <p>Do you want to notify all the project team about it ?</p>
        </div>


        <div *ngIf="!nextaction.show">
          <form [formGroup]="newslump">
            <div class="alert alert-danger" *ngIf="suppList.length == 0">
              Please register a new ribbon supplier in project settings.
            </div>

            <label for="supplier">Select ribbon supplier</label>
            <select class="form-control  mb-3" formControlName="supplierid" id="supplier" required>
                <option disabled selected value> Select the supplier </option>
              <option [ngValue]="avsuppliers" *ngFor="let avsuppliers of suppList" required>{{avsuppliers.name}}
              </option>
            </select>

            <div class="alert alert-danger" *ngIf="compositions.length == 0">
              Please register a new ribbon number in project settings.
            </div>

            <label for="composition">Select ribbon number</label>
            <select class="form-control mb-3" formControlName="compositionid" id="composition">
                <option disabled selected value> Select the ribbon number </option>
              <option required [ngValue]="avcompositions" *ngFor="let avcompositions of compositions">
                {{avcompositions.name}}</option>
            </select>


            <label for="loadid">Insert batch number</label>
            <div class="input-group  mb-3">
              <input required type="text" class="form-control" formControlName="loadid"
                placeholder="Batch number">
            </div>

            <label for="slumpvalue">Register peel test value</label>
            <div class="input-group  mb-3">
              <input required type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="form-control"
                formControlName="value">
              <div class="input-group-append"><span class="input-group-text">N</span></div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer" *ngIf="!nextaction.show">
        <button (click)="saveSlump()" class="btn btn-vfos">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

      <div class="modal-footer" *ngIf="nextaction.show">
        <button (click)="nextactionSend()" class="btn btn-vfos"><i class="fa fa-bell-o"></i> Send warning</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="nextactionNo()"> <i class="fa fa-bell-slash-o"></i> No</button>
      </div>
    </div>
  </div>
</div>